/**base styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #070707;
}
.container {
  width: 100%;
  max-width: 940.6px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
/** fonts */
@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
    url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
    url('../fonts/gilroy-light-webfont.woff') format('woff'),
    url('../fonts/gilroy-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/**=========================Header=====================*/
header {
  line-height: 87.94px;
}
.menu-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 18px;
  font-family: 'gilroyextrabold';
  font-weight: 400;
  border-bottom: 1px solid #828282;
}
.menu-link {
  color: #828282;
  transition: 0.3s linear color;
}
.menu-link:hover {
  color: #070707;
}
.menu-link.active {
  color: #070707;
}

/**===========================About me====================*/
.inner-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'gilroylight';
}
.full-name {
  font-family: 'gilroyextrabold';

  font-size: 47.3392px;
  line-height: 59px;
}
